{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}Secteur|Edit{% endblock %}
{% block fos_user_content %}
{% block body -%}
<div class="page-header"><h1> Modification d'un Secteur</h1></div>



{{ form_start(edit_form) }}
<div class="row">
    <span class="alert-danger ">{{ form_errors(edit_form) }}</span>
</div>

<div class="row">

    <div class="span6 offset3">

        <fieldset>
            <legend>Formulaire de modification</legend>

            <div class="row-fluid">
                <div class="span5">{{ form_label(edit_form.libelle," Libelle ") }}</div>
{{ form_widget(edit_form.libelle) }}<span class="alert-danger ">{{ form_errors(edit_form.libelle) }}</span>
            </div>

            <div class="row-fluid">
                <div class="span5">{{ form_label(edit_form.depart," Depart ") }}</div>
{{ form_widget(edit_form.depart) }}<span class="alert-danger ">{{ form_errors(edit_form.depart) }}</span>
            </div>

            <div class="row-fluid">
                <div class="span5">{{ form_label(edit_form.arrivee," Arrivee ") }}</div>
{{ form_widget(edit_form.arrivee) }}<span class="alert-danger ">{{ form_errors(edit_form.arrivee) }}</span>
            </div>

            <div class="row-fluid">
                <div class="span5">{{ form_label(edit_form.ville," Ville ") }}</div>
{{ form_widget(edit_form.ville) }}<span class="alert-danger ">{{ form_errors(edit_form.ville) }}</span>
            </div>

            <div class="row-fluid">
                <div class="span5">{{ form_label(edit_form.typePrestations," Type de Prestation ") }}</div>
{{ form_widget(edit_form.typePrestations) }}<span class="alert-danger ">{{ form_errors(edit_form.typePrestations) }}</span>
            </div>
          <br/>  
            <div class="row-fluid">
    <div class="span12 center-block">
{{ form_widget(edit_form.submit) }}
    </div>
            </div>

        </fieldset>

    </div>
</div>
{{ form_end(edit_form) }}

<br/>
{% if role.affSecteur%}
<div class="row-fluid">
    <a  href="{{ path('secteur') }}" class="pull-right">
        <button class="btn btn-default">Revenir à la liste</button>
    </a>
</div>
{%endif%}

{% endblock %}

{% endblock fos_user_content %}