<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="ismailkomay"/>
        <meta name="author" content="ismailkomay"/>
        <title>{% block title %}Welcome{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <script src = "{{ asset('ajs/js/angularDependencies/angular.min.js') }}"></script>
        <script src = "{{ asset('ajs/js/angularDependencies/angular-route.min.js') }}"></script>
        <script src = "{{ asset('ajs/js/partials/mainApp.js') }}"></script>
        <script src = "{{ asset('ajs/js/partials/factories.js') }}"></script>
        <script src = "{{ asset('ajs/js/partials/services.js') }}"/></script>
        <script src = "{{ asset('ajs/js/partials/rootProvider.js') }}"></script>
        <script src = "{{ asset('ajs/js/partials/directives.js') }}"></script>
        <script src = "{{ asset('ajs/js/partials/testController.js') }}"></script>

    </head>
    <body ng-app = "mainApp" ng-controller="TestController" >
    <div class="container">
         {% block body %}{% endblock %}
         {% block javascripts %}         {% endblock %}
    
         {% block footer %}
         {% endblock %}
    </div>

    </body>
</html>