<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="ismailkomay"/>
        <meta name="author" content="ismailkomay"/>
        <title>{% block title %}Welcome{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <script src = "{{ asset('ajs/js/angularDependencies/angular.min.js') }}"></script>
        <script src = "{{ asset('ajs/js/angularDependencies/angular-route.min.js') }}"></script>


    </head>
    <body ng-app = "mainApp">
    <div class="container">
         {% block body %}{% endblock %}

    
         {% block footer %}
         {% endblock %}
    </div>

    <!-- par la suite on y revient-->
    <script src = "{{ asset('ajs/js/partials/Parent/mainApp.js') }}"></script>
    {% block javascripts %}
        <script src = "{{ asset('ajs/js/partials/Parent/factories.js') }}"></script>
        <script src = "{{ asset('ajs/js/partials/Parent/services.js') }}"/></script>
        <script src = "{{ asset('ajs/js/partials/Parent/rootProvider.js') }}"></script>
        <script src = "{{ asset('ajs/js/partials/Parent/directives.js') }}"></script>
        <script src = "{{ asset('ajs/js/partials/Parent/testController.js') }}"></script>
    {% endblock %}
    </body>
</html>