{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}Modication|Accueil{% endblock %}
{% block fos_user_content %}
{% block body -%}
<div  class="page-header"> <h1>Liste des Modifications</h1></div>
         {{ form_start(search_form) }}  
<div class="row-fluid">
    <div class="span8 offset4">
{{ form_label(search_form.par," ") }}{{ form_widget(search_form.par) }}<span class="alert-danger ">{{ form_errors(search_form.par) }}</span>
{{ form_label(search_form.libelle," ") }}{{ form_widget(search_form.libelle) }} <span class="alert-danger ">{{ form_errors(search_form.libelle) }}</span>
{{ form_label(search_form.submit," ") }}{{ form_widget(search_form.submit) }}
    </div>
</div>
    {{ form_end(search_form) }} 
<div class="row-fluid">
    <table class="table-responsive records_list table-bordered table-condensed">
        <thead>
            <tr>
                <th>Code</th>
                <th>Utilisateur</th>
                <th>Type de Feuille</th>
                <th>Code de la feuille</th>
                <th>Date de modification</th>
                <th>Remarque</th>
                {%if entities|length>5 %}<td style="">{{ form(vider_form) }}</td>{%endif%}
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr class="{{app.user.username==entity.user?'monRole':''}}" title="{{app.user.username==entity.user?'Votre modification':''}}">
                <td>{{ entity.id }}</td>
                <td>{{ entity.user|default("-----") }}</td>
                <td>{{ entity.classe|default("-----") }}</td>
                <td>{{ entity.codeFeuille|default('Pas de code')}}</td>
                <td>{% if entity.dateMaj %}{{ entity.dateMaj|date('d-m-Y H:i:s') }}{% endif %}</td>
                <td>{{ entity.remarque }}</td>
                <td class="col-md-3">
                    {% if role.affModification%}
                    <div class="col-md-2">
                        <a target="_blank" href="{{ path('modification_show', { 'id': entity.id }) }}">
                            <button title="Afficher" type="submit">
                                <img id="inputButtonAfficher" title="Afficher" src="{{ asset('bundles/fdradmin/images/apercu.png') }}" />
                            </button>
                        </a> 
                    </div>
                    
                        {% endif %}
                        {% if role.delModification%}
                    <div class="col-md-2">
                        {{ form(form[entity.id]) }}
                    </div>
                    
                        {% endif %}
                </td>
            </tr>
            {% else %}<tr><td colspan="6"><em>Aucune Modification n'existe pour le moment</em></td></tr>
        {% endfor %}
        </tbody>
    </table>
</div> 
<br/>
<div class="span12" style="text-align: center">
    <div class="row-fluid">
        <div class="pagination-lg">{{ knp_pagination_render(pagination) }}</div>
    </div>
</div>
<script>
    $('* [id="form_supprimer"]').each(function() {
        var c = $(this).parent().parent().parent();
        $(this).confirm({
            title: "<span class='text-danger header-logo'>Confirmation de suppression : <span class='badge help-block' title='Si vous confirmez; cette feuille ne sera plus recupérée'> ( Action irréversible ? )</span></span>",
            text: "<div class='text-danger'>Voulez-vous vraiment supprimer  ? </div>",
            post: true,
            confirm: function(button) {
                button.fadeOut(500).fadeIn(500);
                c.submit();
            },
            cancel: function(button) {
                button.fadeOut(500).fadeIn(500);
                button.preventDefault();
            },
            confirmButton: "Oui, J'en veux",
            cancelButton: "Non, Merci",
            confirmButtonClass: "btn-danger"
        });
    }
    );
    $('* [id="form_vider"]').each(function() {
        var c = $(this).parent().parent().parent();
        $(this).confirm({
            title: "<span class='text-danger header-logo'>Confirmation de suppression : <span class='badge help-block' title='Si vous confirmez; les modif. ne seront plus recupérées'> ( Action irréversible ? )</span></span>",
            text: "<div class='text-danger'>Voulez-vous vraiment vider la table  ? </div>",
            post: true,
            confirm: function(button) {
                button.fadeOut(500).fadeIn(500);
                c.submit();
            },
            cancel: function(button) {
                button.fadeOut(500).fadeIn(500);
                button.preventDefault();
            },
            confirmButton: "Oui, J'en veux",
            cancelButton: "Non, Merci",
            confirmButtonClass: "btn-danger"
        });
    }
    );
</script>
{% endblock %}
{% endblock fos_user_content %}