{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}Vehicule|Show{% endblock %}
{% block fos_user_content %}
{% block body -%}
<div class="page-header"><h1> Affichage d'un Vehicule</h1></div>



{{ form_start(form) }}
<div class="desactiver-champs">
    <div class="row">
        <span class="alert-danger ">{{ form_errors(form) }}</span>
    </div>

    <div class="row">

        <div class="span6 offset3">

            <fieldset>
                <legend></legend>

                <div class="row-fluid">
                    <div class="span5">{{ form_label(form.id," Identifiant ") }}</div>
{{ form_widget(form.id) }}<span class="alert-danger ">{{ form_errors(form.id) }}</span>
                </div>

                <div class="row-fluid">
                    <div class="span5">{{ form_label(form.numSociete," Num. Société ") }}</div>
{{ form_widget(form.numSociete) }}<span class="alert-danger ">{{ form_errors(form.numSociete) }}</span>
                </div>

                <div class="row-fluid">
                    <div class="span5">{{ form_label(form.type," Type ") }}</div>
{{ form_widget(form.type) }}<span class="alert-danger ">{{ form_errors(form.type) }}</span>
                </div>

                <div class="row-fluid">
                    <div class="span5">{{ form_label(form.remorque," Remorque ") }}</div>
{{ form_widget(form.remorque) }}
                </div>

                <div class="row-fluid">
                    <div class="span5">{{ form_label(form.disponibilite," Disponibilité ") }}</div>
{{ form_widget(form.disponibilite) }}
                </div>

                <div class="row-fluid">
                    <div class="span5">{{ form_label(form.vidange," Vidange ") }}</div>
{{ form_widget(form.vidange) }}
                </div>

                <div class="row-fluid">
                    <div class="span5">{{ form_label(form.compteur," Compteur ") }}</div>
{{ form_widget(form.compteur) }}<span class="alert-danger ">{{ form_errors(form.compteur) }}</span>
                </div>

                <div class="row-fluid">
                    <div class="span5">{{ form_label(form.matricule," Matricule ") }}</div>
{{ form_widget(form.matricule) }}<span class="alert-danger ">{{ form_errors(form.matricule) }}</span>
                </div>
                
                <div class="row-fluid">
<div class="span5">{{ form_label(form.dateLancement," Date de Lancement ") }}</div>
{{ form_widget(form.dateLancement) }}<span class="alert-danger ">{{ form_errors(form.dateLancement) }}</span>
</div>
                <div class="row-fluid">
<div class="span5">{{ form_label(form.depot," Depot ") }}</div>
{{ form_widget(form.depot) }}<span class="alert-danger ">{{ form_errors(form.depot) }}</span>
</div>

            </fieldset>

        </div>
    </div>
</div>
{{ form_end(form) }}
<br/>
{% if role.affVehicule%}
<div class="row-fluid">
    <a  href="{{ path('vehicule') }}" class="pull-right">
        <button class="btn btn-default">Revenir à la liste</button>
    </a>
</div>
{%endif%}
{% endblock %}
{% endblock fos_user_content %}
